{% extends "base.html" %}
{% block title %}- {{ sala.nome }}{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/sala.js"></script>
{% endblock %}

{% block content %}

<div id="banner2" class="style2">
	<div class="inner">
		<header class="major">
			<h1 style="text-transform: uppercase;">{{ sala.nome }} | #{{ sala.id }}</h1>
		</header>
		<div class="content">
			<ul class="actions">
				<li><a href="#vid" class="button next scrolly" id="btnCont">Conteúdo</a><li>
				<li><a href="#deb" class="button next scrolly" id="btnEsc">Escrever</a><li>
				<li><a href="#conts" class="button next scrolly" id="btnConts">Opiniões</a><li>
			</ul>
		</div>
	</div>
</div>




<section id="vid">
	<div class="inner">
		<div class="content">
			<header class="major">
				<h2>Videos provocadores</h2>
			</header>
			

			<div class="content">
				<p style="font-family: inherit; font-style: inherit; font-weight: 600; font-size: 0.7em; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; letter-spacing: 0.25em; text-transform: uppercase;">
					Estes videos foram selecionados para fomentar o debate e estão relacionados com a temática. Assista atentamente e sinta-se livre para escrever suas opiniões sobre eles.
				</p>
			</div>
			<div class="flux">
				<div class="vid-play col-sm-8">
					<input type="hidden" id="vid-cur" value="1">
					{% for e in embeds %}
					<div style="display: none;" class="vid-play" id="vid-{{ forloop.counter }}">					
						<iframe src="{{ e }}" frameborder="0" allowfullscreen></iframe>
					</div>
					{% endfor %}
					<a href="#vid" class="button next scrolly" id="btnVidPrev">Anterior</a>
					<a href="#vid" class="button next scrolly" id="btnVidNext">Próximo</a>
				</div>
				<div class="vid-left col-sm-4">
					<input type="text" id="vid-search" placeholder="Pesquisar...">
					{% for vid in rel_vids %}
					<div class="row">
						<img src="{{ vid.thumb }}">
						{{ vid.nome }}
					</div>
					{% endfor %}
				
				</div>
				
			</div>
			
			<header class="major">
				<h2>Pesquisas relacionadas</h2>
			</header>
			<div class="card-columns">
				{% for p in temas_pesq %}
				<div class="card">
					<div class="card-header">
						<a href="{{ p.link }}">{{ p.nome }}</a>
					</div>
					<div class="card-block">
						{{ p.desc }}
					</div>
				</div>					
				{% endfor %}
			</div>
			
		</div>

	</div>
</section>

<section id="deb">
	<div class="inner">
		<header class="major">
			<h2>Escreva sobre o que viu</h2>
		</header>
		<div class="content">
				<p style="font-family: inherit; font-style: inherit; font-weight: 600; font-size: 0.7em; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; letter-spacing: 0.25em; text-transform: uppercase;">
					Contribua para o debate dando sua opinião aqui. Use os videos como base para pensar a relação entre os temas e o que você tem a dizer sobre eles. Fique a vontade para escrever sobre todos temas!
				</p>
			</div>
		<div>
			<ul id="tems">
				{% for t in temas %}
				<li class="tems">{{ t }}</li>	
				{% endfor %}
			</ul>
		</div>
		<div class="content" style="width: 70%; margin-left: 15%;"">
			<label>Tema</label>
			<input type="text" id="id_tema" name="tema">
			<label>Sua constribuição</label>
			<textarea rows="5" id="id_cont" name="cont"></textarea>
			<br>
			<input type="submit" class="special" id="submit" value="Enviar contribuição">		


		</div>
	</div>
</section>

<section>
	<div class="inner">
		<div id="conts" class="content">
			<header class="major">
				<h2>O que falaram sobre</h2>
			</header>
			<div class="content">
				<p style="font-family: inherit; font-style: inherit; font-weight: 600; font-size: 0.7em; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; letter-spacing: 0.25em; text-transform: uppercase;">
					Aqui você acompanha todas as contribuições e pode ver as diferentes opiniões sobre o debate e seus temas. Clicando nos temas abaixo você passa a ver apenas contribuições relacionadas ao tema clicado.
				</p>
			</div>
			<div>
				<ul id="tems-c">
					{% for t in temas %}
					<li class="tems-c">{{ t }}</li>	
					{% endfor %}
				</ul>
			</div>
			<!--<table class="table">
				<thead>

					
				</thead>
				<tbody>
					{% for t in temas %}
					<tr>
						<th>{{ t }}</th>
						{% for c in conts %}

						{% if c.tema == t %}
						<th>{{ c.cont }}</th>
						{% endif %}

						{% endfor %}
					</tr>
					{% endfor %}

					
				</tbody>
			</table>-->
			<div class="card-columns">
					{% for c in conts %}
					<div class="card">
					  <div class="card-header">
					    {{ c.tema }}
					  </div>
					  <div class="card-block">
					    <blockquote class="card-blockquote">
						    <p>{{ c.cont }}</p>
						    <footer>
						      	<div class="btn-group" role="group" aria-label="Basic example">
						      	<div class="btn-group" role="group" aria-label="Basic example">
						      		<input type="hidden" name="cont_id" value="{{ forloop.counter }}">
				  					<button type="button" class="btn btn-secondary btnApv" value="{{ forloop.counter }}">Aprovar ({{ c.apv}})</button>
				  					<button type="button" class="btn btn-secondary btnRep" value="{{ forloop.counter }}">Reprovar ({{ c.rep }})</button>
								</div>
								</div>
							</footer>
					    </blockquote>
					  </div>
					</div>
					{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
